<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="Semantic/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="Semantic/semantic.min.js"></script>
  
  <!-- Wide card with share menu button -->
  <style>
    .mdl-card {
      width: 384px;
    }
    .lifepath > .mdl-card__title {
      color: #000;
    }
    .lifepath > .mdl-card__menu {
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Settings</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Outer Rim</a>
      <a class="mdl-navigation__link" href="">Religious</a>
      <a class="mdl-navigation__link" href="">Military</a>
      <a class="mdl-navigation__link" href="">Noble</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <div class="lifepath mdl-card mdl-shadow--4dp mdl-cell mdl-cell--2-col">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Born in the Outer Rim</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Born on one of the outer planets, you grew up knowing little of luxury, and probably started working shortly after learning to walk.
          </div>
          <div class="mdl-card__supporting-text">
            <div class="ui very relaxed list">
              <div class="item">
                <div class="header">General Information</div>
                <table class="ui table">
                  <thead>
                    <tr>
                      <th>Years</th>
                      <th>Resources</th>
                      <th>Stats</th>
                      <th>Leads</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="center aligned">8</td>
                      <td class="center aligned">3</td>
                      <td class="center aligned">--</td>
                      <td>Servitude, Soldier, Religious, Other Places</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="item">
                <div class="header">Skills</div>
                3 pts: General
              </div>
              <div class="item">
                <div class="header">Traits</div>
                2 pts: --
              </div>
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Add to Character
            </a>
          </div>
        </div>
        <div class="lifepath mdl-card mdl-shadow--4dp mdl-cell mdl-cell--4-col">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Born in the Outer Rim</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Born on one of the outer planets, you grew up knowing little of luxury, and probably started working shortly after learning to walk.
          </div>
          <div class="mdl-card__supporting-text">
            <div class="ui very relaxed list">
              <div class="item">
                <div class="header">General Information</div>
                <table class="ui table">
                  <thead>
                    <tr>
                      <th>Years</th>
                      <th>Resources</th>
                      <th>Stats</th>
                      <th>Leads</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="center aligned">8</td>
                      <td class="center aligned">3</td>
                      <td class="center aligned">--</td>
                      <td>Servitude, Soldier, Religious, Other Places</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="item">
                <div class="header">Skills</div>
                3 pts: General
              </div>
              <div class="item">
                <div class="header">Traits</div>
                2 pts: --
              </div>
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Add to Character
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>